<header>
  <div class="container">
    <a href="" class="logo">
      <img src="assets/logo.svg" alt="Logo Chatbot">
    </a>
    <nav>
      <ul>
        <li>
          <a href="">
            <img src="assets/icon-help.svg" alt="Icone de ajuda">
            <span>Precisa de ajuda?</span>
          </a>
        </li>
        <li>
          <a href="">
            <img src="assets/icon-star.svg" alt="Icone de teste gratuito">
            <span>Teste gratuitamente</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="s-hero">
  <div class="container">
    <div class="text">
      <h1>Ferramenta de Chatbot Interativo com Documentos</h1>
      <p>
        Faça upload de documentos e converse com nosso modelo para obter respostas rápidas e precisas.
      </p>
      <button>Teste gratuitamente</button>

      <div class="conheca">
        <div class="icon">
          <img src="assets/icon-arrow.svg" alt="Icone de uma seta">
        </div>
        <span>Conheça os recursos</span>
      </div>
    </div>
    <div class="image">
      <img src="assets/icon-chat.svg" alt="Ilustração da hero section">
    </div>
  </div>
</section>


<section class="s-resources">
  <div class="container">
    <div class="top">
      <h2>Conheça os recursos da ferramenta de Chatbot Interativo com Documentos</h2>
      <p>Mais de 5.000 empresas que utilizam ✌️</p>
    </div>
    <div class="content">
      <div class="card-featured">
        <div class="icon">
          <img src="assets/icone-upload-documentos.svg" alt="">
        </div>
        <div class="info">
          <h4>Upload de Documentos</h4>
          <p>Carregue documentos em vários formatos, incluindo PDF, DOCX, e TXT.</p>
        </div>
      </div>
      <ul>
        <li>
          <div class="icon">
            <img src="assets/icone-resposta-rapida.svg" alt="">
          </div>
          <div class="info">
            <h4>Resposta Rápida</h4>
            <p>Obtenha respostas instantâneas às suas perguntas sobre o documento.</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <img src="assets/icone-precisao.svg" alt="">
          </div>
          <div class="info">
            <h4>Precisão</h4>
            <p>Nossos modelos são treinados para fornecer respostas precisas e relevantes.</p>
          </div>
        </li>
        <li>
          <div class="icon">
            <img src="assets/icone-facil-uso.svg" alt="">
          </div>
          <div class="info">
            <h4>Facilidade de Uso</h4>
            <p>Interface intuitiva que facilita o upload de documentos e a interação com o chatbot.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<app-chatbot-popup
  chatHeaderTitle="Chatbot - Online"
  defaultTextMsg={{defaultTxt}}
  copy="AlexandreSCorreia © 2024"
  linkCopy="https://github.com/AlexandreSCorreia"
></app-chatbot-popup>
